.navbar-nav .nav-link {
  font-weight: 300;
  font-weight: bold;
  font-size: 0.9rem;


}



/* para carrpusel */
.carousel-caption {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.object-fit-cover {
  object-fit: cover;
}

.carousel-item img {
  filter: brightness(0.85);
}
