<!-- Botón flotante -->
<div class="chat-ia-button" (click)="toggleChat()">
   <img src="assets/chatbot.png" alt="Chat IA" class="chat-ia-icon" />
</div>

<!-- Ventana del chat -->
<div *ngIf="mostrarChat" class="chat-ia-window">
  <div style="padding: 12px; font-weight: bold; border-bottom: 1px solid #333;">
    Chat IA - Lumix
  </div>

  <div style="flex: 1; padding: 12px; overflow-y: auto;">
    <p style="opacity: 0.7;">SOY TU IAAAAAAAAAAA 7U7</p>
  </div>

  <div style="display: flex; border-top: 1px solid #333;">
    <input
      type="text"
      placeholder="Escribe tu mensaje..."
      style="flex: 1; border: none; padding: 10px; background: #1e1e1e; color: white; outline: none;"
    />
    <button style="border: none; background: #00e0b8; color: white; padding: 10px 15px; cursor: pointer;">
      ➤
    </button>
  </div>
</div>
