
<app-ruleta></app-ruleta>
<app-cards></app-cards><footer class="footer">
  <div class="footer-content">
    <img src="assets/adrian.png" alt="Logo Saavedra Fotógrafo" class="footer-logo" />

    <div class="footer-info">
      <p>📞 316 580 1816</p>
<p>✉️ adrsaavedra2&#64;gmail.com</p>
      <p>
        📸 <a href="https://www.instagram.com/saavedrafotografo" target="_blank" rel="noopener">
<p>&#64;saavedrafotografo</p>
        </a>
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© {{ currentYear }} Saavedra Fotógrafo. Todos los derechos reservados.</p>
  </div>
</footer>
